body {
  padding: 12.3;
}

.body-padding, body {
  padding: 150px;
  padding-top: 70px;
  padding-bottom: 70px;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  background-color: rgba(127, 255, 212, 0.5);
}

.card-body h5 {
  font-size: 30px;
}

/*# sourceMappingURL=sample.css.map */
