$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$background-colour: aquamarine;
$img-height: 30%;
$fade-radius: 0.5;
$global-padding: 150px;

@import "paddings";

.body-padding {
    padding: $global-padding ;
  padding-top: $global-padding - 80px;
  padding-bottom: $global-padding - 80px;
}

body {
    @extend .body-padding;
  font: 100% $font-stack;
  color: $primary-color;
  background-color: fade-out($background-colour, $fade-radius) ;
}

.card-body {
    h5 {
        font-size: 30px;
    }
}